## OS Specific Hidden Files ####

# MacOSX Finder *****
.DS_Store

# Fuse FileSystem ***
.fuse_hidden*


## PlatformIO ##################
.pioenvs
.clang_complete
.gcc-flags.json
.piolibdeps

## Project #####################
lib/readme.txt
src/Custom.h
/ESPEasy
test/output_export.cpp
.vscode
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json

docs/build/
dist/log/20190904103938.txt
dist/log/20190904103948.txt
.pio/build/.sconsign.dblite
.pio/build/minimal_ESP8266_1M_OTA/firmware.bin
.pio/build/minimal_ESP8266_1M_OTA/firmware.elf
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/abi.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/base64.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/cbuf.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/cont.S.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/cont_util.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/core_esp8266_app_entry_noextra4k.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/core_esp8266_eboot_command.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/core_esp8266_flash_utils.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/core_esp8266_i2s.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/core_esp8266_main.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/core_esp8266_noniso.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/core_esp8266_phy.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/core_esp8266_postmortem.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/core_esp8266_si2c.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/core_esp8266_sigma_delta.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/core_esp8266_timer.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/core_esp8266_waveform.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/core_esp8266_wiring.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/core_esp8266_wiring_analog.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/core_esp8266_wiring_digital.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/core_esp8266_wiring_pulse.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/core_esp8266_wiring_pwm.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/core_esp8266_wiring_shift.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/debug.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/Esp-frag.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/Esp-version.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/Esp.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/FS.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/FunctionalInterrupt.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/gdb_hooks.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/HardwareSerial.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/heap.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/IPAddress.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/libb64/cdecode.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/libb64/cencode.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/libc_replacements.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/MD5Builder.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/Print.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/Schedule.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/ScheduledFunctions.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/sntp-lwip2.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/spiffs/spiffs_cache.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/spiffs/spiffs_check.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/spiffs/spiffs_gc.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/spiffs/spiffs_hydrogen.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/spiffs/spiffs_nucleus.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/spiffs_api.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/spiffs_hal.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/sqrt32.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/StackThunk.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/Stream.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/StreamString.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/time.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/Tone.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/uart.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/umm_malloc/umm_malloc.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/Updater.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/WMath.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/FrameworkArduino/WString.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/ld/local.eagle.app.v6.common.ld
.pio/build/minimal_ESP8266_1M_OTA/lib04e/SDFS/SDFS.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib0b9/SDM_Energy_Meter/SDM.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib165/MechInputs/QEIx4.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib18b/LiquidCrystal_I2C/LiquidCrystal_I2C.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib20a/DNSServer/DNSServer.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib24d/ESP8266SdFat/FatLib/FatFile.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib24d/ESP8266SdFat/FatLib/FatFileLFN.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib24d/ESP8266SdFat/FatLib/FatFilePrint.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib24d/ESP8266SdFat/FatLib/FatFileSFN.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib24d/ESP8266SdFat/FatLib/FatVolume.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib24d/ESP8266SdFat/FatLib/FmtNumber.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib24d/ESP8266SdFat/FatLib/fstream.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib24d/ESP8266SdFat/FatLib/istream.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib24d/ESP8266SdFat/FatLib/ostream.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib24d/ESP8266SdFat/FatLib/StdioStream.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib24d/ESP8266SdFat/MinimumSerial.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib24d/ESP8266SdFat/SdCard/SdioCardEX.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib24d/ESP8266SdFat/SdCard/SdioTeensy.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib24d/ESP8266SdFat/SdCard/SdSpiCard.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib24d/ESP8266SdFat/SdCard/SdSpiCardEX.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib24d/ESP8266SdFat/SpiDriver/SdSpiESP8266.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib24d/ESP8266SdFat/SpiDriver/SdSpiParticle.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib24d/ESP8266SdFat/SpiDriver/SdSpiSAM3X.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib24d/ESP8266SdFat/SpiDriver/SdSpiSTM32.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib24d/ESP8266SdFat/SpiDriver/SdSpiTeensy3.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib2af/Adafruit_TSL2591/Adafruit_TSL2591.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib2dd/Adafruit_NeoPixel/Adafruit_NeoPixel.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib2dd/Adafruit_NeoPixel/esp8266.c.o
.pio/build/minimal_ESP8266_1M_OTA/lib31e/SoftwareSerial/SoftwareSerial.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib353/SPI/SPI.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib3a0/TinyGPSPlus-1.0.2/TinyGPS++.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib3f5/SerialDevices/jkSDS011.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib3f5/SerialDevices/SensorSerial.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib3f5/SerialDevices/SensorSerialBuffer.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib46b/SparkFun_APDS-9960_Sensor_Arduino_Library/SparkFun_APDS9960.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib4ac/ESP8266WebServer/detail/mimetable.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib4ac/ESP8266WebServer/ESP8266WebServer.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib4ac/ESP8266WebServer/ESP8266WebServerSecureAxTLS.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib4ac/ESP8266WebServer/ESP8266WebServerSecureBearSSL.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib4ac/ESP8266WebServer/Parsing.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib564/Servo/Servo.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib6b8/Adafruit_Motor_Shield_V2/Adafruit_MotorShield.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib6b8/Adafruit_Motor_Shield_V2/utility/Adafruit_MS_PWMServoDriver.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib70a/SD/SD.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib738/ESP8266WiFi/BearSSLHelpers.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib738/ESP8266WiFi/CertStoreBearSSL.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib738/ESP8266WiFi/ESP8266WiFi.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib738/ESP8266WiFi/ESP8266WiFiAP.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib738/ESP8266WiFi/ESP8266WiFiGeneric.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib738/ESP8266WiFi/ESP8266WiFiMulti.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib738/ESP8266WiFi/ESP8266WiFiScan.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib738/ESP8266WiFi/ESP8266WiFiSTA-WPS.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib738/ESP8266WiFi/ESP8266WiFiSTA.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib738/ESP8266WiFi/WiFiClient.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib738/ESP8266WiFi/WiFiClientSecureAxTLS.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib738/ESP8266WiFi/WiFiClientSecureBearSSL.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib738/ESP8266WiFi/WiFiServer.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib738/ESP8266WiFi/WiFiServerSecureAxTLS.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib738/ESP8266WiFi/WiFiServerSecureBearSSL.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/lib738/ESP8266WiFi/WiFiUdp.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/liba50/pubsubclient/PubSubClient.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/liba57/Ticker/Ticker.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/liba6f/Wire/Wire.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/liba79/Adafruit_TCS34725/Adafruit_TCS34725.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/liba7f/HLW8012_1.1.1/HLW8012.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/libb30/ArduinoOTA/ArduinoOTA.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/libb78/ESP8266mDNS/ESP8266mDNS.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/libb78/ESP8266mDNS/ESP8266mDNS_Legacy.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/libb78/ESP8266mDNS/LEAmDNS.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/libb78/ESP8266mDNS/LEAmDNS_Control.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/libb78/ESP8266mDNS/LEAmDNS_Helpers.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/libb78/ESP8266mDNS/LEAmDNS_Structs.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/libb78/ESP8266mDNS/LEAmDNS_Transfer.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/libc40/ccronexpr/ccronexpr.c.o
.pio/build/minimal_ESP8266_1M_OTA/libcdc/Adafruit_MPR121/Adafruit_MPR121.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/libd23/ESPEasySerial/ESPEasySerial_ESP32.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/libd23/ESPEasySerial/ESPeasySerial_ESP8266.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/libd23/ESPEasySerial/ESPEasySerial_ESP8266_noSWserial.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/libd23/ESPEasySerial/ESPEasySoftwareSerial.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/libdd3/ESP8266HTTPUpdateServer/ESP8266HTTPUpdateServer.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/libde7/HT16K33/HT16K33.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/libe2f/Blynk/utility/BlynkDebug.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/libe2f/Blynk/utility/BlynkHandlers.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/libe2f/Blynk/utility/utility.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/libe42/esp8266-oled-ssd1306/OLEDDisplay.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/libe42/esp8266-oled-ssd1306/OLEDDisplayUi.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/libe44/AM2320/AM2320.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/libf01/Adafruit_SGP30-1.0.0.13/Adafruit_SGP30.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/libf0b/NewPingESP8266/NewPingESP8266.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/libf7c/AS_BH1750/AS_BH1750.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/libf7c/AS_BH1750/AS_BH1750A.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/libfbd/I2Cdevlib/I2Cdev.cpp.o
.pio/build/minimal_ESP8266_1M_OTA/libFrameworkArduino.a
.pio/build/minimal_ESP8266_1M_OTA/libFrameworkArduinoVariant.a
.pio/build/minimal_ESP8266_1M_OTA/longcmd-3e4b2705b00725e926a60ddb2bf4a5d2
.pio/build/minimal_ESP8266_1M_OTA/longcmd-94c99ad6b73f7c32f47d4a420fa3749c
.pio/build/minimal_ESP8266_1M_OTA/longcmd-c6d5a043e823db1a0568a0a1b32a153e
.pio/build/minimal_ESP8266_1M_OTA/longcmd-e82cc1713964f76ea7d106906d567e1f
.pio/build/minimal_ESP8266_1M_OTA/longcmd-f10ba5c1b198037d8340516b9d078bde
.pio/build/minimal_ESP8266_1M_OTA/src/ESPEasy.ino.cpp.o
.pio/build/normal_ESP8266_1M/firmware.elf
.pio/build/normal_ESP8266_1M/FrameworkArduino/abi.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/base64.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/cbuf.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/cont.S.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/cont_util.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/core_esp8266_app_entry_noextra4k.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/core_esp8266_eboot_command.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/core_esp8266_flash_utils.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/core_esp8266_i2s.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/core_esp8266_main.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/core_esp8266_noniso.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/core_esp8266_phy.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/core_esp8266_postmortem.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/core_esp8266_si2c.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/core_esp8266_sigma_delta.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/core_esp8266_timer.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/core_esp8266_waveform.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/core_esp8266_wiring.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/core_esp8266_wiring_analog.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/core_esp8266_wiring_digital.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/core_esp8266_wiring_pulse.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/core_esp8266_wiring_pwm.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/core_esp8266_wiring_shift.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/debug.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/Esp-frag.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/Esp-version.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/Esp.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/FS.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/FunctionalInterrupt.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/gdb_hooks.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/HardwareSerial.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/heap.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/IPAddress.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/libb64/cdecode.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/libb64/cencode.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/libc_replacements.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/MD5Builder.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/Print.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/Schedule.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/ScheduledFunctions.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/sntp-lwip2.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/spiffs/spiffs_cache.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/spiffs/spiffs_check.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/spiffs/spiffs_gc.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/spiffs/spiffs_hydrogen.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/spiffs/spiffs_nucleus.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/spiffs_api.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/spiffs_hal.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/sqrt32.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/StackThunk.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/Stream.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/StreamString.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/time.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/Tone.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/uart.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/umm_malloc/umm_malloc.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/Updater.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/WMath.cpp.o
.pio/build/normal_ESP8266_1M/FrameworkArduino/WString.cpp.o
.pio/build/normal_ESP8266_1M/ld/local.eagle.app.v6.common.ld
.pio/build/normal_ESP8266_1M/lib04e/SDFS/SDFS.cpp.o
.pio/build/normal_ESP8266_1M/lib0b9/SDM_Energy_Meter/SDM.cpp.o
.pio/build/normal_ESP8266_1M/lib165/MechInputs/QEIx4.cpp.o
.pio/build/normal_ESP8266_1M/lib18b/LiquidCrystal_I2C/LiquidCrystal_I2C.cpp.o
.pio/build/normal_ESP8266_1M/lib20a/DNSServer/DNSServer.cpp.o
.pio/build/normal_ESP8266_1M/lib24d/ESP8266SdFat/FatLib/FatFile.cpp.o
.pio/build/normal_ESP8266_1M/lib24d/ESP8266SdFat/FatLib/FatFileLFN.cpp.o
.pio/build/normal_ESP8266_1M/lib24d/ESP8266SdFat/FatLib/FatFilePrint.cpp.o
.pio/build/normal_ESP8266_1M/lib24d/ESP8266SdFat/FatLib/FatFileSFN.cpp.o
.pio/build/normal_ESP8266_1M/lib24d/ESP8266SdFat/FatLib/FatVolume.cpp.o
.pio/build/normal_ESP8266_1M/lib24d/ESP8266SdFat/FatLib/FmtNumber.cpp.o
.pio/build/normal_ESP8266_1M/lib24d/ESP8266SdFat/FatLib/fstream.cpp.o
.pio/build/normal_ESP8266_1M/lib24d/ESP8266SdFat/FatLib/istream.cpp.o
.pio/build/normal_ESP8266_1M/lib24d/ESP8266SdFat/FatLib/ostream.cpp.o
.pio/build/normal_ESP8266_1M/lib24d/ESP8266SdFat/FatLib/StdioStream.cpp.o
.pio/build/normal_ESP8266_1M/lib24d/ESP8266SdFat/MinimumSerial.cpp.o
.pio/build/normal_ESP8266_1M/lib24d/ESP8266SdFat/SdCard/SdioCardEX.cpp.o
.pio/build/normal_ESP8266_1M/lib24d/ESP8266SdFat/SdCard/SdioTeensy.cpp.o
.pio/build/normal_ESP8266_1M/lib24d/ESP8266SdFat/SdCard/SdSpiCard.cpp.o
.pio/build/normal_ESP8266_1M/lib24d/ESP8266SdFat/SdCard/SdSpiCardEX.cpp.o
.pio/build/normal_ESP8266_1M/lib24d/ESP8266SdFat/SpiDriver/SdSpiESP8266.cpp.o
.pio/build/normal_ESP8266_1M/lib24d/ESP8266SdFat/SpiDriver/SdSpiParticle.cpp.o
.pio/build/normal_ESP8266_1M/lib24d/ESP8266SdFat/SpiDriver/SdSpiSAM3X.cpp.o
.pio/build/normal_ESP8266_1M/lib24d/ESP8266SdFat/SpiDriver/SdSpiSTM32.cpp.o
.pio/build/normal_ESP8266_1M/lib24d/ESP8266SdFat/SpiDriver/SdSpiTeensy3.cpp.o
.pio/build/normal_ESP8266_1M/lib2af/Adafruit_TSL2591/Adafruit_TSL2591.cpp.o
.pio/build/normal_ESP8266_1M/lib2dd/Adafruit_NeoPixel/Adafruit_NeoPixel.cpp.o
.pio/build/normal_ESP8266_1M/lib2dd/Adafruit_NeoPixel/esp8266.c.o
.pio/build/normal_ESP8266_1M/lib31e/SoftwareSerial/SoftwareSerial.cpp.o
.pio/build/normal_ESP8266_1M/lib353/SPI/SPI.cpp.o
.pio/build/normal_ESP8266_1M/lib3a0/TinyGPSPlus-1.0.2/TinyGPS++.cpp.o
.pio/build/normal_ESP8266_1M/lib3f5/SerialDevices/jkSDS011.cpp.o
.pio/build/normal_ESP8266_1M/lib3f5/SerialDevices/SensorSerial.cpp.o
.pio/build/normal_ESP8266_1M/lib3f5/SerialDevices/SensorSerialBuffer.cpp.o
.pio/build/normal_ESP8266_1M/lib46b/SparkFun_APDS-9960_Sensor_Arduino_Library/SparkFun_APDS9960.cpp.o
.pio/build/normal_ESP8266_1M/lib4ac/ESP8266WebServer/detail/mimetable.cpp.o
.pio/build/normal_ESP8266_1M/lib4ac/ESP8266WebServer/ESP8266WebServer.cpp.o
.pio/build/normal_ESP8266_1M/lib4ac/ESP8266WebServer/ESP8266WebServerSecureAxTLS.cpp.o
.pio/build/normal_ESP8266_1M/lib4ac/ESP8266WebServer/ESP8266WebServerSecureBearSSL.cpp.o
.pio/build/normal_ESP8266_1M/lib4ac/ESP8266WebServer/Parsing.cpp.o
.pio/build/normal_ESP8266_1M/lib564/Servo/Servo.cpp.o
.pio/build/normal_ESP8266_1M/lib6b8/Adafruit_Motor_Shield_V2/Adafruit_MotorShield.cpp.o
.pio/build/normal_ESP8266_1M/lib6b8/Adafruit_Motor_Shield_V2/utility/Adafruit_MS_PWMServoDriver.cpp.o
.pio/build/normal_ESP8266_1M/lib70a/SD/SD.cpp.o
.pio/build/normal_ESP8266_1M/lib738/ESP8266WiFi/BearSSLHelpers.cpp.o
.pio/build/normal_ESP8266_1M/lib738/ESP8266WiFi/CertStoreBearSSL.cpp.o
.pio/build/normal_ESP8266_1M/lib738/ESP8266WiFi/ESP8266WiFi.cpp.o
.pio/build/normal_ESP8266_1M/lib738/ESP8266WiFi/ESP8266WiFiAP.cpp.o
.pio/build/normal_ESP8266_1M/lib738/ESP8266WiFi/ESP8266WiFiGeneric.cpp.o
.pio/build/normal_ESP8266_1M/lib738/ESP8266WiFi/ESP8266WiFiMulti.cpp.o
.pio/build/normal_ESP8266_1M/lib738/ESP8266WiFi/ESP8266WiFiScan.cpp.o
.pio/build/normal_ESP8266_1M/lib738/ESP8266WiFi/ESP8266WiFiSTA-WPS.cpp.o
.pio/build/normal_ESP8266_1M/lib738/ESP8266WiFi/ESP8266WiFiSTA.cpp.o
.pio/build/normal_ESP8266_1M/lib738/ESP8266WiFi/WiFiClient.cpp.o
.pio/build/normal_ESP8266_1M/lib738/ESP8266WiFi/WiFiClientSecureAxTLS.cpp.o
.pio/build/normal_ESP8266_1M/lib738/ESP8266WiFi/WiFiClientSecureBearSSL.cpp.o
.pio/build/normal_ESP8266_1M/lib738/ESP8266WiFi/WiFiServer.cpp.o
.pio/build/normal_ESP8266_1M/lib738/ESP8266WiFi/WiFiServerSecureAxTLS.cpp.o
.pio/build/normal_ESP8266_1M/lib738/ESP8266WiFi/WiFiServerSecureBearSSL.cpp.o
.pio/build/normal_ESP8266_1M/lib738/ESP8266WiFi/WiFiUdp.cpp.o
.pio/build/normal_ESP8266_1M/liba50/pubsubclient/PubSubClient.cpp.o
.pio/build/normal_ESP8266_1M/liba57/Ticker/Ticker.cpp.o
.pio/build/normal_ESP8266_1M/liba6f/Wire/Wire.cpp.o
.pio/build/normal_ESP8266_1M/liba79/Adafruit_TCS34725/Adafruit_TCS34725.cpp.o
.pio/build/normal_ESP8266_1M/liba7f/HLW8012_1.1.1/HLW8012.cpp.o
.pio/build/normal_ESP8266_1M/libb30/ArduinoOTA/ArduinoOTA.cpp.o
.pio/build/normal_ESP8266_1M/libb78/ESP8266mDNS/ESP8266mDNS.cpp.o
.pio/build/normal_ESP8266_1M/libb78/ESP8266mDNS/ESP8266mDNS_Legacy.cpp.o
.pio/build/normal_ESP8266_1M/libb78/ESP8266mDNS/LEAmDNS.cpp.o
.pio/build/normal_ESP8266_1M/libb78/ESP8266mDNS/LEAmDNS_Control.cpp.o
.pio/build/normal_ESP8266_1M/libb78/ESP8266mDNS/LEAmDNS_Helpers.cpp.o
.pio/build/normal_ESP8266_1M/libb78/ESP8266mDNS/LEAmDNS_Structs.cpp.o
.pio/build/normal_ESP8266_1M/libb78/ESP8266mDNS/LEAmDNS_Transfer.cpp.o
.pio/build/normal_ESP8266_1M/libc40/ccronexpr/ccronexpr.c.o
.pio/build/normal_ESP8266_1M/libcdc/Adafruit_MPR121/Adafruit_MPR121.cpp.o
.pio/build/normal_ESP8266_1M/libd23/ESPEasySerial/ESPEasySerial_ESP32.cpp.o
.pio/build/normal_ESP8266_1M/libd23/ESPEasySerial/ESPeasySerial_ESP8266.cpp.o
.pio/build/normal_ESP8266_1M/libd23/ESPEasySerial/ESPEasySerial_ESP8266_noSWserial.cpp.o
.pio/build/normal_ESP8266_1M/libd23/ESPEasySerial/ESPEasySoftwareSerial.cpp.o
.pio/build/normal_ESP8266_1M/libdd3/ESP8266HTTPUpdateServer/ESP8266HTTPUpdateServer.cpp.o
.pio/build/normal_ESP8266_1M/libde7/HT16K33/HT16K33.cpp.o
.pio/build/normal_ESP8266_1M/libe2f/Blynk/utility/BlynkDebug.cpp.o
.pio/build/normal_ESP8266_1M/libe2f/Blynk/utility/BlynkHandlers.cpp.o
.pio/build/normal_ESP8266_1M/libe2f/Blynk/utility/utility.cpp.o
.pio/build/normal_ESP8266_1M/libe42/esp8266-oled-ssd1306/OLEDDisplay.cpp.o
.pio/build/normal_ESP8266_1M/libe42/esp8266-oled-ssd1306/OLEDDisplayUi.cpp.o
.pio/build/normal_ESP8266_1M/libe44/AM2320/AM2320.cpp.o
.pio/build/normal_ESP8266_1M/libf01/Adafruit_SGP30-1.0.0.13/Adafruit_SGP30.cpp.o
.pio/build/normal_ESP8266_1M/libf0b/NewPingESP8266/NewPingESP8266.cpp.o
.pio/build/normal_ESP8266_1M/libf7c/AS_BH1750/AS_BH1750.cpp.o
.pio/build/normal_ESP8266_1M/libf7c/AS_BH1750/AS_BH1750A.cpp.o
.pio/build/normal_ESP8266_1M/libfbd/I2Cdevlib/I2Cdev.cpp.o
.pio/build/normal_ESP8266_1M/libFrameworkArduino.a
.pio/build/normal_ESP8266_1M/libFrameworkArduinoVariant.a
.pio/build/normal_ESP8266_1M/longcmd-6d2a83c76549b53ac5a55846ddd9bb2f
.pio/build/normal_ESP8266_1M/longcmd-a6dec8298eef7f6542d98cb502a145a9
.pio/build/normal_ESP8266_1M/src/ESPEasy.ino.cpp.o
.pio/build/project.checksum
.pio/libdeps/esp-wrover-kit_test_1M8_partition/ESPeasySerial/
dist/APP_DATA/aria2c.exe
dist/APP_DATA/esptool.exe
dist/APP_DATA/plink.exe
dist/APP_DATA/TimeStamp.vbs
dist/APP_DATA/Update.exe
dist/bin/ESPEasy_R120_1024.bin
dist/bin/firmware.bin
dist/log/20190903084305.txt
dist/log/20190903085440.txt
dist/log/20190903090126.txt
dist/log/20190903090305.txt
dist/log/20190903090806.txt
dist/log/20190903091920.txt
dist/log/20190903094817.txt
dist/log/20190903095549.txt
dist/log/20190903101334.txt
dist/log/20190903133223.txt
dist/log/20190903140109.txt
dist/log/20190903151448.txt
dist/log/20190903153554.txt
dist/log/20190903160803.txt
dist/log/20190903164917.txt
dist/log/20190903165617.txt
dist/log/20190903170259.txt
dist/log/20190904085634.txt
dist/log/20190904091023.txt
dist/log/20190904091755.txt
dist/log/20190904093833.txt
dist/log/20190904103005.txt
dist/log/20190904103011.txt
dist/log/20190904103021.txt
dist/log/20190904103035.txt
dist/log/20190904103950.txt
dist/log/20190904104226.txt
dist/log/20190904104558.txt
dist/log/20190904104618.txt
dist/log/20190904104629.txt
dist/settings/Default.ini
dist/settings/USB_port_names.ini
